{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %}Main menu{% endblock %}

{% block menu %}

<div class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/menu">Menu<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/materials/upload">Materials</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/rfqs/upload">RFQs</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/quotes/upload">Quotes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                </ul>
            </div>
        </nav>
</div>

{% endblock %}